<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kino XP - Demo</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" href="https://icon-library.com/images/movie-icon-png/movie-icon-png-2.jpg">
</head>
<body>
<!--NAVIGATION BAR-->
<nav id="burger">
    <input type="checkbox" id="burger-checkbox" />
    <label class="menu--toggle__trigger" for="burger-checkbox"></label>
    <label class="menu--toggle__burger" for="burger-checkbox"></label>

    <ul>
        <li>
            <a href="/" class="nav-item">Forside</a>
        </li>
        <li>
            <a href="/booking" class="nav-item">book</a>
        </li>
        <li id="navlogo">
            <a href="/">
                <img src="https://icon-library.com/images/movie-icon-png/movie-icon-png-2.jpg" id="logo" alt="kinoXP_logo"/>
            </a>
        </li>
        <li>
            <a href="/" class="nav-item">Om os</a>
        </li>
        <li>
            <a href="/" class="nav-item">afbestil</a>
        </li>
    </ul>
</nav>
<main>
    <div class="customerBookingForm">
        <form th:action="@{/booking}" method="post">
            <label for="custFname">First name</label>
            <input th:field="*{newCustomer.fName}" id="custFname" type="text" placeholder="Insert first name" required>

            <label for="custLname">Last Name</label>
            <input th:field="*{newCustomer.lName}" id="custLname" type="text" placeholder="Insert last name" required>

            <label for="custBirthday">Birthday</label>
            <input th:field="*{newCustomer.birthday}" id="custBirthday" type="text" placeholder="Insert birthday 01-01-1900">

            <label for="custPhoneNo">Phone Number</label>
            <input th:field="*{newCustomer.phoneNumber}" id="custPhoneNo" type="text" placeholder="Insert phone number">

            <label for="custEmail">E-Mail</label>
            <input th:field="*{newCustomer.email}" id="custEmail" type="text" placeholder="Insert e-mail" required>

            <div class="dropdown">
                <label for="selectSeat" id="seatSelect">Select seat</label>
                <select th:field="*{newSeats.seatName}" class="seatDropdown" id="selectSeat">
                    <option th:each="i : ${#numbers.sequence(0, 150)}" th:value="Seat-+${i}" th:text="Seat-+${i}" th:selected="${i==75}"></option>
                </select>
            </div>
            <a href="/"><button type="submit">Submit</button> </a>
        </form>
    </div>
</main>
</body>
</html>