<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kino XP - Demo</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" href="https://icon-library.com/images/movie-icon-png/movie-icon-png-2.jpg">
</head>
<body>
<!--NAVIGATION BAR-->
<nav id="burger">
    <input type="checkbox" id="burger-checkbox" />
    <label class="menu--toggle__trigger" for="burger-checkbox"></label>
    <label class="menu--toggle__burger" for="burger-checkbox"></label>

    <ul>
        <li>
            <a href="/" class="nav-item">Forside</a>
        </li>
        <li>
            <a href="/booking" class="nav-item">Book</a>
        </li>
        <li id="navlogo">
            <a href="/">
                <img src="https://icon-library.com/images/movie-icon-png/movie-icon-png-2.jpg" id="logo" />
            </a>
        </li>
        <li>
            <a href="/" class="nav-item">Om os</a>
        </li>
        <li>
            <a href="/" class="nav-item">Afbestil</a>
        </li>
    </ul>
</nav>
<!-- MAIN -->
<div>
    <h2>Reciept</h2>
</div>
<div>
    <label>Customer information:</label>
</div >
 <!-- <div th:each="customer : ${customers}"> -->
    <div class="receipt">
    <table>
        <thead>
            <th>First name</th>
            <th>Last name</th>
            <th>Birthday</th>
            <th>Phone number</th>
            <th>E-mail</th>
            <th>Seats</th>
        </thead>
        <!--
        <tbody th:each="seat : ${seats}">
        <td th:text="${customer.fName}"></td>
        <td th:text="${customer.lName}"></td>
        <td th:text="${customer.birthday"></td>
        <td th:text="${customer.phoneNumber"></td>
        <td th:text="${customer.email}"></td>
        <td th:text="${seat.seatName}"></td>
        </tbody>
        -->
    </table>
    </div>

 <!-- </div> -->
</body>
</html>