<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kino XP - Demo</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" href="https://icon-library.com/images/movie-icon-png/movie-icon-png-2.jpg">
</head>
<body>
<!--NAVIGATION BAR-->
<nav id="burger">
    <input type="checkbox" id="burger-checkbox" />
    <label class="menu--toggle__trigger" for="burger-checkbox"></label>
    <label class="menu--toggle__burger" for="burger-checkbox"></label>

    <ul>
        <li>
            <a href="/" class="nav-item">Forside</a>
        </li>
        <li>
            <a href="/" class="nav-item">book</a>
        </li>
        <li id="navlogo">
            <a href="/">
                <img src="https://icon-library.com/images/movie-icon-png/movie-icon-png-2.jpg" id="logo" />
            </a>
        </li>
        <li>
            <a href="/" class="nav-item">Om os</a>
        </li>
        <li>
            <a href="/" class="nav-item">afbestil</a>
        </li>
    </ul>
</nav>
    <a href="/" style="color: white">home</a> <br>
    <a href="/booking" style="color: white">booking</a> <br>
    <a href="/create-seat" style="color: white">create seat</a> <br>
    <a href="create-movie" style="color: white">create movie</a> <br>
</body>
</html>